
  
  <!-- Modal -->
  <div class="modal fade" id="modal_info_conta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
           Informações da Conta
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div>
                <p>Nome: <%= name %></p>
            </div>
            <div>
                <p>Matricula: <%= matricula %></p>
            </div>
            <div>
                <p>Email: <%= email %></p>
            </div>
            <div>
                <p>Data Criação: <%= dt_criacao %></p>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Alterar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
